/* .page {
  padding: 20px 0;
  min-height: 100vh;
  box-sizing: border-box;
} */

.header {
  width: 100%;
  box-sizing: border-box;
}

.subsLabel {
  color: var(--text-secondary);
}

.actions {
  width: 100%;
}